name: Publish Package

permissions:
  contents: read

on:
  push:
    # tags:
    #   - v*
  pull_request:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up OPS
        run: |
          curl https://ops.city/get.sh -sSfL | sh
      - name: Login
        run: |
          export OPS_DIR="$HOME/.ops"
          export PATH="$HOME/.ops/bin:$PATH"
          ops pkg login ${{ secrets.OPS_KEY }}
      - name: Push
        run: |
          export OPS_DIR="$HOME/.ops"
          export PATH="$HOME/.ops/bin:$PATH"
          echo "Version: $(./scripts/get-version.sh)"
          make pkg-push
